{{#if shoppingCart.prints.length}}
  <h2>Donations</h2>
  <hr>

  {{#each shoppingCart.prints as |print|}}
    <p>{{print.name}}: $1</p>
  {{/each}}

  <h2>Total</h2>
  <hr>
  <h4>${{total-cart shoppingCart.prints}}</h4>
  <br>
  <hr>
  <br>
  <br>
  {{credit-card}}
  <br>
  <br>
  <div class="button">
    <button {{action 'submitPayment'}} class="btn btn-success">Submit ${{total-cart shoppingCart.prints}} Payment</button>
  </div>

{{else}}
  <h2>Your donation list is empty.</h2>
  {{#link-to 'index'}}
    <a>Return to gallery</a>
  {{/link-to}}
{{/if}}
<br>
<br>
{{#if paymentSubmitted}}
  <h2>At this point, your payment would be ran. <br> However, f/64 is not accepting donations...yet.</h2>
{{/if}}
<br>
