{{#if confirmatonAlert}}
  <div class="alert alert-success alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">x</span>
    </button>
    <strong>Thank you for you application. You will hear back from us shortly.</strong>
    {{#link-to "index"}}<h5>Back to Art!</h5>{{/link-to}}
  </div>
{{/if}}

<form>
  <h1>New Artist Application</h1>
  <div class="form-group">
    <label for="name">Full Name:</label>
    {{input value=name id="name" class="form-control" type="text" placeholder="Name"}}
  </div>

  <div class="form-group">
    <label for="email">Email Address:</label>
    {{input value=email id="email" class="form-control" type="text" placeholder="Electronic Mail Address"}}
  </div>

  <div class="form-group">
    <label for="coverImgUrl">Cover Image URL:</label>
    {{input value=coverImgUrl id="coverImgUrl" class="form-control" type="text" placeholder="Cover Image URL"}}
    <p>*Please upload photos to <a href="https://postimg.org/files.php">PostImage.org</a>*</p>
  </div>

  <div class="form-group">
    <label for="addImgs">Additional Image URLs:</label>
    {{input value=addImgs id="addImgs" class="form-control" type="text" placeholder="Additional Images"}}
  </div>

  <div class="form-group">
    <label for="artFormat">Art Format:</label>
    {{input value=artFormat id="artFormat" class="form-control" type="artFormat" placeholder="i.e. Sculpting, Photography, ALL THE ART!"}}
  </div>

  <div class="form-group">
    <label for="bio">Talk About Yourself:</label>
    {{textarea value=bio id="bio" rows="3" class="form-control" placeholder="Tell us your background and why you love art."}}
    <p>*Place '#p' at the start of new paragraphs*</p>
  </div>

  <div class="form-group">
    <label for="description">Talk About Your Work:</label>
    {{textarea value=description id="description" rows="3" class="form-control" placeholder="Describe what you'll be using your donations for."}}
    <p>*Place '#p' at the start of new paragraphs*</p>
  </div>

  <div class="button">
    <button {{action 'savePrint'}} class="btn btn-success">Upload Artist</button>
  </div>
</form>
