{{#if showDetail}}
  <div class="modal-title">
    <div class="close-button">
      <button {{action 'hideDescription'}} type="button" class="close large-icon" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></button>
    </div>
    <img class="imgInTile" src="{{print.coverImgUrl}}"/>
  </div>
  <div class="modal-body">
    <h1 class="modal-artist-name">
      {{print.name}}
    </h1>
    <p class="modal-info">{{print.artFormat}}</p>
    <p class="modal-info">{{print.description}}</p>
    <br>
    <div class="modal-buttons">
      <button {{action 'add' print}} class="cart-button btn btn-success">
        <h4>Donate $1 <span class="large-icon glyphicon glyphicon-piggy-bank"></span></h4>
      </button>
      <br>
      {{#if moreButton}}

        <button {{action 'showDescription'}} class="bio-btn btn btn-success">
          <h4>See {{print.name}}'s Bio <span class="glyphicon glyphicon-ice-lolly" aria-hidden="true"></span></h4>
        </button>
      {{else}}
        <button {{action 'hideDescription'}} class="bio-btn btn btn-success">
          <h4>Away with this Bio! <span class="glyphicon glyphicon-ice-lolly-tasted" aria-hidden="true"></span></h4>
        </button>
      {{/if}}
    </div>
  </div>

  {{#if showDescription}}
    <div class="modal-body">
      <p>{{formatBio}}</p>
    </div>
  {{/if}}
{{else}}
<div class="image">
  <img class="imgHomepage" src="{{print.coverImgUrl}}"/>
  <div class="overlay"></div>
</div>
{{/if}}
