{{#if showDetail}}
  <div class="modal-title">
    <button {{action 'hideDescription'}} type="button" class="close large-icon" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    <img class="imgInTile" src="{{print.url}}"/>
  </div>
  <div class="modal-body">
    <p class="modal-img-name"><strong>{{print.title}}</strong></p>
    <p class="modal-info">{{print.date}}</p>
    <p class="modal-info">{{print.type}}</p>
    <p class="modal-info">{{print.size}}</p>
    <p class="modal-info">{{printPrice}}</p>
    <br>
    <button {{action 'add' print}} class="btn btn-success">Add to Cart</button>
    <br>
    {{#if moreButton}}
    <a {{action 'showDescription'}}><span class="glyphicon large-icon glyphicon-triangle-bottom" aria-hidden="true"></span></a>
    {{else}}
    <a {{action 'hideDescription'}}><span class="glyphicon large-icon glyphicon-triangle-top" aria-hidden="true"></span></a>
    {{/if}}
  </div>

  {{#if showDescription}}
    <div class="modal-body">
      <h4>{{print.collection.name}}</h4>
      <p>{{print.collection.description}}</p>
    </div>
  {{/if}}
{{else}}
<img class="imgHomepage" src="{{print.url}}"/>
<br>
<br>
{{/if}}
