{{#if showDetail}}
  <div class="modal-title">
    <button {{action 'hideDescription'}} type="button" class="close large-icon" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    <img class="imgInTile" src="{{print.coverImgUrl}}"/>
  </div>
  <div class="modal-body">
    <h1 class="modal-artist-name">
      {{print.name}}
    </h1>
    <p class="modal-info">{{print.artFormat}}</p>
    <p class="modal-info">{{print.description}}</p>
    <br>
    <h6>Donate $1</h6>
    <button {{action 'add' print}} class="cart-button btn btn-success">
      <span class="large-icon glyphicon glyphicon-piggy-bank"></span>
    </button>
    <br>
    <h6>{{print.name}}'s Bio:</h6>
    {{#if moreButton}}
    <a {{action 'showDescription'}}><span class="glyphicon large-icon glyphicon-triangle-bottom" aria-hidden="true"></span></a>
    {{else}}
    <a {{action 'hideDescription'}}><span class="glyphicon large-icon glyphicon-triangle-top" aria-hidden="true"></span></a>
    {{/if}}
  </div>

  {{#if showDescription}}
    <div class="modal-body">
      <p>{{formatBio}}</p>
    </div>
  {{/if}}
{{else}}
<div class="image">
  <img class="imgHomepage" src="{{print.coverImgUrl}}"/>
  <div class="overlay"></div>
</div>
{{/if}}
