{{#if showDetail}}
  <div class="modal-title">
    <button {{action 'hideDescription'}} type="button" class="close large-icon" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    <img class="imgInTile" src="{{print.url}}"/>
  </div>
  <div class="modal-body">
    <h6 class="modal-img-name">
      {{print.title}}
    </h6>
    <h5 class="modal-artist-name">
      {{print.collection.artist}}
    </h5>
    <p class="modal-info">{{print.date}} {{print.type}} {{print.size}}
    </p>
    <p class="modal-info">{{printPrice}}</p>
    <br>
    <button {{action 'add' print}} class="cart-button btn btn-success">
      <span class="large-icon glyphicon glyphicon-shopping-cart"></span>
    </button>
    <br>
    {{#if moreButton}}
    <a {{action 'showDescription'}}><span class="glyphicon large-icon glyphicon-triangle-bottom" aria-hidden="true"></span></a>
    {{else}}
    <a {{action 'hideDescription'}}><span class="glyphicon large-icon glyphicon-triangle-top" aria-hidden="true"></span></a>
    {{/if}}
  </div>

  {{#if showDescription}}
    <div class="modal-body">
      <h4>{{print.collection.name}}</h4>
      <p>{{formatDescription}}</p>
    </div>
  {{/if}}
{{else}}
<img class="imgHomepage" src="{{print.url}}"/>
<br>
<br>
{{/if}}
